@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
/* line 3, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
html,
body {
  margin: 0;
  padding: 0;
}

/* line 8, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
body {
  width: 100vw;
  height: 100vh;
}

/* line 12, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* line 16, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* line 21, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home {
  width: 100vw;
  height: 100vh;
  background: url("../img/retro.png") no-repeat center center;
  background-size: cover;
}

/* line 27, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr;
}

/* line 35, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay .intro {
  width: 500px;
  height: 140px;
  position: absolute;
  top: calc(50% - 160px);
  color: white;
  left: calc(50% - 250px);
  text-align: center;
  transition: 0.3s ease;
}

/* line 46, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay button {
  background: #711534;
  border: none;
  padding: 15px 0;
  border-radius: 8px;
  box-shadow: 0 0 30px 0 #711534;
  align-self: flex-end;
  color: white;
  font-size: 18px;
  transition: 0.3s ease;
  z-index: 1;
}

/* line 58, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay button:hover {
  cursor: pointer;
  box-shadow: 0 0 35px 1px #96254b;
  transform: scale(1.03);
}

/* line 65, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay .cta {
  width: 200px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 100px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  transition: 0.2s ease;
}

/* line 77, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay .wrapper {
  position: relative;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

/* line 87, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay .wrapper .card {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 350px;
  height: 350px;
  padding: 30px;
  display: grid;
  grid-template-rows: auto 1fr;
  transform-origin: center;
  transition: 0.5s ease;
}

/* line 101, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay .wrapper .card .title {
  color: white;
  text-align: center;
  font-size: 20px;
  transition: 0.5s ease;
}

/* line 109, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay .wrapper .card form {
  display: grid;
  width: 100%;
  align-items: flex-end;
  transition: 0.5s ease;
}

/* line 117, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay .wrapper .card form input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 0;
  font-size: 17px;
  color: white;
}

/* line 128, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay .wrapper .card form select {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 0;
  font-size: 17px;
  color: white;
}

/* line 140, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay .wrapper .login {
  justify-self: right;
  left: -100%;
}

/* line 144, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Home .overlay .wrapper .register {
  justify-self: left;
  right: -100%;
}

@media screen and (max-width: 820px) {
  /* line 150, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .wrapper {
    width: 600px;
    height: 400px;
  }
  /* line 154, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .wrapper .card {
    width: 275px;
  }
}

@media screen and (max-width: 640px) {
  /* line 160, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .wrapper {
    width: 450px;
    height: 400px;
  }
  /* line 164, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .wrapper .card {
    width: 400px;
  }
  /* line 167, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .wrapper .login {
    margin-left: 25px;
  }
  /* line 170, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .wrapper .register {
    margin-right: 25px;
  }
}

@media screen and (max-width: 500px) {
  /* line 176, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .intro {
    width: 400px;
    left: calc(50% - 200px);
  }
  /* line 180, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .wrapper {
    width: 350px;
  }
  /* line 182, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .wrapper .card {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  /* line 188, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .intro {
    width: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 180px);
  }
  /* line 192, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .intro #welcome {
    display: none;
  }
  /* line 196, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .wrapper {
    width: 330px;
  }
  /* line 198, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
  .App .Home .overlay .wrapper .card {
    width: 280px;
  }
}

/* line 205, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
}

/* line 211, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Sidebar {
  width: 100%;
  height: 100%;
  background: #27293d;
}

/* line 217, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Sidebar header .logo {
  width: 100%;
  text-align: center;
  position: relative;
}

/* line 222, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Sidebar header .logo::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 1px;
  background: linear-gradient(to right, #3358f4, #1d8cf8);
  bottom: 0;
  left: 5%;
}

/* line 234, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Sidebar .menu {
  width: 100%;
  color: #fff;
  display: grid;
  align-items: center;
}

/* line 240, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Sidebar .menu a {
  width: 100%;
}

/* line 245, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main {
  padding-left: 50px;
  width: 100%;
  height: 100vh;
  background: #1e1e2f;
  padding-left: 70px;
  display: grid;
  grid-template-rows: 15% 85%;
  justify-items: center;
  align-items: center;
}

/* line 256, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: calc(100% - 50px);
  height: 100%;
  justify-self: left;
}

/* line 265, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main header .create {
  text-decoration: none;
  padding: 18px 40px 18px 60px;
  background: linear-gradient(to right, #3358f4, #1d8cf8);
  color: #fff;
  border-radius: 5px;
  justify-self: left;
  position: relative;
}

/* line 274, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main header .create:before {
  content: '+';
  position: absolute;
  font-size: 30px;
  line-height: 30px;
  left: 10px;
  top: calc(50% - 15px);
}

/* line 283, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main header .title {
  color: #fff;
  font-size: 24px;
}

/* line 287, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main header .profile {
  color: rgba(255, 255, 255, 0.8);
}

/* line 292, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main .board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 45% 45%;
  justify-items: center;
  align-items: center;
  gap: 40px;
}

/* line 303, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main .board .card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #27293d;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
  display: grid;
  justify-items: center;
  grid-template-rows: auto 1fr;
}

/* line 313, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main .board .card .title {
  font-size: 18px;
  width: 90%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #1d8cf8;
  color: #fff;
}

/* line 321, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main .board .card .list {
  width: 90%;
  overflow-y: auto;
  display: grid;
  justify-items: center;
}

/* line 329, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main .board .card .list::-webkit-scrollbar {
  width: 0%;
  display: none;
}

/* line 333, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main .board .card .list .item {
  text-decoration: none;
  height: auto;
  width: 100%;
  padding: 15px 0;
  margin: 5px 0;
  color: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: left;
  align-items: center;
  position: relative;
}

/* line 349, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main .board .card .list .item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #3358f4, #1d8cf8);
  bottom: 0;
  left: 0;
}

/* line 359, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main .board .card .list .item .date {
  padding-left: 10px;
}

/* line 362, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main .board .card .list .item .name {
  padding-left: 20px;
}

/* line 365, ../../../../../Users/tommy/Desktop/DEV/retros/template/assets/scss/main2.scss */
.App .Dashboard .Main .board .card .list .item .arrow {
  padding-right: 20px;
}

/*# sourceMappingURL=main2.css.map */